<div class="container">
  <div class="header">
    <h1 class="display-4">Reserva de Hoteis</h1>
    <p class="lead">
      Projeto desenvolvido com os pilares da Orientação a Objetos
    </p>
  </div>

  <div class="formulario">
    <h2>Detalhes da Reserva</h2>
    <div class="form-group">
      <label>Nome:</label>
      <input
        [(ngModel)]="clienteInput.nome"
        class="form-control"
        placeholder="Nome"
      />
    </div>

    <div class="form-group">
      <label>Tipo:</label>
      <select [(ngModel)]="tipoCliente" class="form-control">
        <option value="normal">Normal</option>
        <option value="vip">VIP</option>
      </select>
    </div>

    <div class="form-group">
      <label>Quantidade de Dias:</label>
      <input
        [(ngModel)]="quantidadeDias"
        type="number"
        min="1"
        class="form-control"
        placeholder="Quantidade de Dias"
      />
    </div>
  </div>
  <button (click)="fazerReserva()" class="btn btn-success">
    Fazer Reserva
  </button>

  <div class="mt-4" *ngIf="hotelService.getReservas().length > 0">
    <h2>Lista de Reservas</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Quarto</th>
          <th>Dias</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of hotelService.getReservas()">
          <td>{{ reserva.cliente.nome }}</td>
          <td>{{ reserva.cliente.tipo }}</td>
          <td>{{ reserva.quarto.tipo }}</td>
          <td>{{ reserva.quantidadeDias }}</td>
          <td>R$ {{ reserva.valorTotal() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
