<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Reserva de Hoteis</h1>
    <p class="lead">
      Projeto desenvolvido com os pilares da Orientação a Objetos
    </p>
  </div>

  <div class="formulario">
    <h2>Detalhes da reserva</h2>
    <div class="form-group">
      <label>Nome:</label>
      <input class="form-control" placeholder="Nome do cliente" />
    </div>

    <div class="form-group">
      <label>Tipo:</label>
      <select class="form-control">
        <option value="normal">Normal</option>
        <option value="vip">VIP</option>
      </select>
    </div>

    <div class="form-group">
      <label>Quantidade de Dias:</label>
      <input
        type="number"
        min="1"
        class="form-control"
        placeholder="Quantidade de dias"
      />
    </div>
  </div>
  <button class="btn btn-primary">Fazer reserva</button>

  <div class="mt-4">
    <h2>Lista de Reservas</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Quarto</th>
          <th>Dias</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>asdasd</td>
          <td>asdasd</td>
          <td>asdasd</td>
          <td>asdasd</td>
          <td>R$ 222</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
